*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

img {
  display: block;
}

.header-css {
  border-bottom: 1px solid #e7e9fc;
}

.header-div {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-brand-text {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-brand-text{
    display: inline;
    margin-bottom: 16px;
        margin-right: 76px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.span-st {
  color: #2e2f42;
}

.header-ul {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header-ul:last-child {
  margin-right: 0;
}

.navig-link {
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.header-address-ul {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header-address-ul:last-child {
  margin-right: 0;
}

.navig-link:hover {
  color: #404bbf;
}
.navig-link:focus {
  color: #404bbf;
}

.address-link {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: underline;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  text-decoration: underline;
  font-size: 16px;
}
.adress-li {
  font-style: normal;
}

.section-title {
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

.button-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.button-button:focus {
  background-color: #404bbf;
}
.button-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.section-content {
  padding: 120px 0;
}
.section-content-ul {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  margin-bottom: 72px;
}
.section-content-li {
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
}

.section-content-div {
  padding: 32px 0;
}

/*
.hero-pidtitle{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.hero-pidtitle-st {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
*/
.last-title {
  text-align: center;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
}
.section-portfolio{
    padding:120px 0 120px 0;
}
.section-portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.section-portfolio-li{
    width: calc((100%-48px)/3);
}
.section-portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.section-title {
  background-color: #2e2f42;
}

.section-content {
  background-color: #f4f4fd;
}
.par-all {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-footer {
    padding: 100px 0;
  background-color: #2e2f42;
}
.footer-p {
    max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.span-footer {
  color: #f4f4fd;
}
.section-team {
  background-color: #f4f4fd;
}
.section-team-li {
  background-color: #ffffff;
}
